# Base de Dados (SQLite por defeito para dev local)
DATABASE_URL="file:./dev.db"

# Autenticação e Segurança
AUTH_SECRET="mjc-super-secret-architecture-portfolio-key-2026"
ADMIN_EMAIL="marcelojuniord07@gmail.com"
ADMIN_DEFAULT_PASSWORD="admin_mjc_2026!"

# URL do Website
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
